body{
      font-family: "Plus Jakarta Sans", sans-serif !important;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
   background-color: white;
}

.fa-compass{
    color: #fe424b;
    font-size: 2rem;
}
.nav-link {
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
    /* list-style: none; */

}

.f-info-links a:hover  {
    text-decoration: underline;
}

.footer_info{
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.f-info-links , .footerInto-social{
    width: 100%;   
}

.footerInto-social i{
    font-size: 1.2rem;
    margin: 0 .5rem 0 .5rem;

}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0;
    font-weight: 500 !important;
}

/* // card effect(overlay effect) */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.btn-orange{
    background-color: #fe424d !important;
    /* color: black !important; */
    border: none !important;
}

/* // show page */

.show-img{
    height: 30vh;
}

.btns
{
    display: flex !important;
}
.btnss{
    background-color: gray !important;
    color: white;
    text-decoration: none;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}
